body {
    background-image: linear-gradient(to right, #606c88, #3f4c6b);
    color: white;
    text-align: center;
    margin: top 20px;
}

p {
    font-size: 20px;
    font-weight: bolder;
}

.word {
    margin-bottom: 30px;
}

.wordBtn {
    height: 30px;
    width: 30px;
    padding: 0;
}

.hint {
    display: flex;
    color: chartreuse;
}

.hint-btn,
.restart-btn {
    cursor: pointer;
    margin-top: 30px;
}

.restart-btn {
    margin-left: 30px;
}

.alphabets {
    margin: 15px auto;
    max-width: 470px;
}

.alphabetBtn {
    background-color: #ffe5b4;
    border: none;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
    font-size: 1rem;
    color: black;
    height: 30px;
    width: 30px;
    font-weight: bolder;
}

.alphabetBtn:hover {
    background-color: #e75480;
}